<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970822926061-2qtvmt8aogh0drfmraeq256k7mv7rniq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970822926061-2qtvmt8aogh0drfmraeq256k7mv7rniq</string>
	<key>API_KEY</key>
	<string>AIzaSyAxp0TS_m6Uwc5kLFWjic1cwAQ3QVXOqno</string>
	<key>GCM_SENDER_ID</key>
	<string>970822926061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oscarmoreno.Talkers</string>
	<key>PROJECT_ID</key>
	<string>talkers-6f2d2</string>
	<key>STORAGE_BUCKET</key>
	<string>talkers-6f2d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970822926061:ios:27d0e7c82db795e95c96e4</string>
</dict>
</plist>